

.todo_active {
	float:left;
	width:100%;
	margin-top: 20px;
	margin-bottom: 25px;
}

.todo_inactive {
	float:left;
	width:100%;
}

.todo_inactive .todo_done {
	display:none;
}

.todo_list {
	
	float:left;
	width:100%;
	height:100%;
}

.todo_item .no_state {
	display:none;
}


.todo_item .activate, .todo_item .deactivate, .todo_item .add, .todo_active .todo_done {
	height: 22px;
	width: 24px;
}

.todo_active .todo_done {
	
	margin-left: 99%;
	background-color: rgb(219, 219, 219);
	position: absolute;
	margin-top: -19px;
	height: 22px;
	color: white;
	line-height: 21px;
}

.activate.selected, .add.selected {
	position: absolute;
	margin-left: -24px;
	line-height: 19px;
	background-color: inherit;
}

.deactivate.selected {
	line-height: 19px;
	background-color: inherit;
	position: absolute;
	margin-left: 80%;
}

 .todo_item .add {
 
 }

.todo_item .name_plate {
	float:left;
	height:100%;
	width:100%;
}

.todo_item .priority {
	
	float: left;
	width: 20%;
	height: 20px;
	overflow: hidden;
}

.priority .immediate, .priority .whenever {
	float: left;
	height: 20px;
	overflow: hidden;
	width:50%;
	line-height: 18px;
}

.priority .immediate {
}

.priority .whenever {
}

.priority .selected {
}

.todo_item .percentage {
	float: left;
	overflow: hidden;
	width:100%;
	height:2px;
	overflow:hidden;
}

.todo_item .percentage .bar {
	float: left;
	width: 22%;
	height: 100%;
	background-color: rgba(0,0,0,0.2);
	border-right: 2px solid white;
}

.todo_item .description {

	float: left;
	width: 80%;
	height: 20px;
	overflow: hidden;
	line-height: 17px;
}

.todo_item {
	float: left;
	width: 80%;
	height: 22px;
	overflow: hidden;
	color: white;
	margin-top: 2px;
	margin-left: 20%;
	background-color: #ECECEC;
}


.todo_active .todo_item {
	margin-left:0%;
}


